<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Home</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        />
        <link
            rel="stylesheet"
            th:href="@{/static/assets/css/home/home-style.css}"
        />
    </head>

    <body>
        <!-- Navbar-->
        <div th:replace="fragments/header :: header"></div>
        <!-- Sidebar menu-->
        <div th:replace="fragments/menu :: menu"></div>
        
    </body>
</html>
